<!-- APP MANIFEST: Declares the launcher activity and the app label. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:name=".BookKeeperApplication"
        android:allowBackup="true"
        android:label="BookKeeper"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookKeeper">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
